[Desktop Entry]
Name=SayayinShell
Name[ca]=SayayinShell
Name[ca@valencia]=SayayinShell
Name[cs]=SayayinShell
Name[da]=SayayinShell
Name[de]=SayayinShell
Name[el]=SayayinShell
Name[en_GB]=SayayinShell
Name[eo]=SayayinShell
Name[es]=SayayinShell
Name[et]=SayayinShell
Name[fi]=SayayinShell
Name[fr]=SayayinShell
Name[ga]=SayayinShell
Name[gl]=SayayinShell
Name[hu]=SayayinShell
Name[it]=SayayinShell
Name[ja]=SayayinShell
Name[kk]=SayayinShell
Name[km]=SayayinShell
Name[ko]=SayayinShell
Name[lv]=SayayinShell
Name[nb]=SayayinShell
Name[nds]=SayayinShell
Name[nl]=SayayinShell
Name[nn]=SayayinShell
Name[pa]=SayayinShell
Name[pl]=SayayinShell
Name[pt]=SayayinShell
Name[pt_BR]=SayayinShell
Name[ro]=SayayinShell
Name[ru]=SayayinShell
Name[sr]=SayayinShell
Name[sr@ijekavian]=SayayinShell
Name[sr@ijekavianlatin]=SayayinShell
Name[sr@latin]=SayayinShell
Name[sv]=SayayinShell
Name[tr]=SayayinShell
Name[uk]=SayayinShell
Name[x-test]=xxSayayinShellxx
Name[zh_CN]=SayayinShell
Name[zh_TW]=SayayinShell
Exec=sayayinshell %i -caption "%c"
Icon=sayayinshell
Type=Application
X-DocPath=sayayinshell/index.html
GenericName=A KDE KPart Application
GenericName[ca]=Una aplicació KPart del KDE
GenericName[ca@valencia]=Una aplicació KPart del KDE
GenericName[cs]=Aplikace KDE KPart
GenericName[da]=Et KDE KPart-program
GenericName[de]=Eine KDE-KPart-Anwendung
GenericName[el]=Μια εφαρμογή KDE KPart
GenericName[en_GB]=A KDE KPart Application
GenericName[es]=Una aplicación KPart de KDE
GenericName[et]=KDE KPart rakendus
GenericName[fi]=KDE:n KPart-sovellus
GenericName[fr]=Une application KPart pour KDE
GenericName[ga]=Feidhmchlár KPart KDE
GenericName[gl]=Un programa KPart de KDE
GenericName[hu]=KDE KPart-alkalmazás
GenericName[it]=Un'applicazione KPart di KDE
GenericName[ja]=KDE KPart アプリケーション
GenericName[kk]=KDE KPart қолданбасы
GenericName[km]=កម្មវិធី KDE KPart
GenericName[ko]=KDE KPart 프로그램
GenericName[lv]=KDE KPart lietotne
GenericName[nb]=Et KDE KPart-program
GenericName[nds]=En KPart-Komponent för KDE
GenericName[nl]=Een KDE KPart-programma
GenericName[nn]=Eit KDE KPart-program
GenericName[pa]=KDE ਕੇ-ਪਾਰਟ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Moduł KDE KPart
GenericName[pt]=Uma Aplicação KPart do KDE
GenericName[pt_BR]=Um aplicativo KPart do KDE
GenericName[ro]=O aplicație KPart KDE
GenericName[ru]=Приложение KPart для KDE
GenericName[sr]=КДЕ К‑део
GenericName[sr@ijekavian]=КДЕ К‑дио
GenericName[sr@ijekavianlatin]=KDE K‑dio
GenericName[sr@latin]=KDE K‑deo
GenericName[sv]=Ett KDE KPart-program
GenericName[tr]=Bir KDE KPart Uygulaması
GenericName[uk]=Програма KPart для KDE
GenericName[x-test]=xxA KDE KPart Applicationxx
GenericName[zh_CN]=KDE KPart 应用程序
GenericName[zh_TW]=KDE KPart 應用程式
Terminal=false
