[Desktop Entry]
Name=SayayinShellPart
Name[ca]=SayayinShellPart
Name[ca@valencia]=SayayinShellPart
Name[cs]=SayayinShellPart
Name[da]=SayayinShellPart
Name[de]=SayayinShell-Teil
Name[el]=SayayinShellPart
Name[en_GB]=SayayinShellPart
Name[es]=SayayinShellPart
Name[et]=SayayinShellPart
Name[fr]=SayayinShellPart
Name[ga]=SayayinShellPart
Name[gl]=SayayinShellPart
Name[hu]=SayayinShellPart
Name[it]=SayayinShellPart
Name[ja]=SayayinShellPart
Name[kk]=SayayinShellPart
Name[km]=SayayinShellPart
Name[ko]=SayayinShell 부분
Name[lv]=SayayinShellPart
Name[nb]=SayayinShell-del
Name[nds]=SayayinShellKomponent
Name[nl]=SayayinShellPart
Name[nn]=SayayinShell-del
Name[pa]=SayayinShellPart
Name[pl]=SayayinShellPart
Name[pt]=SayayinShellPart
Name[pt_BR]=SayayinShellPart
Name[ro]=SayayinShellPart
Name[ru]=Компонент SayayinShell
Name[sr]=SayayinShell део
Name[sr@ijekavian]=SayayinShell део
Name[sr@ijekavianlatin]=SayayinShell deo
Name[sr@latin]=SayayinShell deo
Name[sv]=SayayinShell-delprogram
Name[tr]=SayayinShellPart
Name[uk]=SayayinShellPart
Name[x-test]=xxSayayinShellPartxx
Name[zh_CN]=SayayinShellPart
Name[zh_TW]=SayayinShellPart
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libsayayinshellpart
Type=Service
